.historical-container {
  display: flex;
}

.historical-left-section {
  width: 75%;
}

.historical-right-section {
  width: 25%;
  overflow-y: auto;
  height: 280px;
}

.historical-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 12px;
}

.historical-table th,
.historical-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.historical-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.historical-table th:first-child,
.historical-table td:first-child {
  width: 150px;
}

.historical-warning-row {
  background-color: red;
  color: white;
}
