.portfolio-container {
  display: flex;
}

.portfolio-left-section {
  width: 75%;
}

.portfolio-right-section {
  width: 25%;
  overflow-y: auto;
  height: 280px;
}

.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 12px;
}

.portfolio-table th,
.portfolio-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.portfolio-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.portfolio-table th:first-child,
.portfolio-table td:first-child {
  width: 150px;
}

.portfolio-warning-row-down {
  background-color: red;
  color: white;
}

.portfolio-warning-row-up {
  background-color: green;
  color: white;
}